<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Lista książek</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
	<table>
		<tr>
			<th><b>ID</b></th>
			<th><b>Title</b></th>
			<th><b>Authors</b></th>
		</tr>
		<tr th:each="book : ${books}">
			<td>
				<p th:text="${book.id}"></p>
			</td>
			<td>
				<p th:text="${book.title}"></p>
			</td>
			<td>
				<p th:text="${book.authors}"></p>
			</td>
			<td>
				<form class="del-form" method="post" target="_self">
					<input name="id" type="hidden" th:value="${book.id}" />
					<input name="title" type="hidden" th:value="${book.title}" />
					<input name="authors" type="hidden" th:value="${book.authors}" />
					<button type="submit">Remove</button>
				</form>
			</td>
		</tr>
	</table>
</body>
<footer>
	<script>
		$(".del-form").submit(function(event) {
			var form = this;
			
			var data = {};
			$(form).serializeArray().map(function(x){data[x.name] = x.value;}); 
			
			$.ajax({
				type : 'delete',
				url : "/workshop/book",
		        headers: { 
		            'Accept': 'application/json',
		            'Content-Type': 'application/json' 
		        },
		        datatype:"json",
				data: JSON.stringify(data),
				async : true,
				success : function(result) {
					$(form).parent().parent().remove();
					alert("Książka o tytule  \"" + result.title + "\" usunięta.");
				},
			});

			event.preventDefault();
		});
	</script>
</footer>
</html>